* {
  background-color: black;
  color: #ffff
}

.close-button{
  position: absolute;
  padding: 10px;
  cursor: pointer;
  right: 0;
  width: 27.42px;
  height: 27.42px;
  transition: transform 0.3s ease;
}

.close-button:hover {
  transform: rotate(90deg);
}
